.advantages {
  text-align: center;
  background-color: @white-bg;
}

.advantages__list {
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 69px;
  padding-right: 20px;

  @media @tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.advantage__item {
  @media @tablet {
    &--third {
      order: 3;
    }
  }
}
