.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantage__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantage__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
