.advantages-big-block {
  background-color: @blue-bg;
  color: @white;
  text-align: center;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantage__number,
.advantage__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
