.base-input {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border-style: none;
  background-color: @grey-form-bg;
  min-height: 58px;
  padding: 0;
  padding-left: 20px;

  &::placeholder {
    color: black;
  }
}
