.booking__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 36px 20px 49px;

  @media @tablet {
    padding: 55px 20px 58px;
  }

  @media @desktop {
    padding: 56px 20px 66px;
  }
}

.booking__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    font-size: 30px;
  }
}

.booking__text {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @media @tablet {
    margin-top: 31px;
    line-height: 26px;
    padding: 0 125px;
  }

  @media @desktop {
    padding: 0 360px;
  }
}

.booking__button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  margin-top: 29px;
  width: 280px;
  height: 58px;
  background-color: @blue-bg;
  outline: none;
  color: @white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    width: 458px;
    margin-top: 37px;
  }

  @media @desktop {
    margin-top: 42px;
  }

  &:hover {
    background-color: @blue-button-hover;
  }

  &:active {
    background-color: @blue-button-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    box-sizing: border-box;
    border: 2px solid rgba(129, 179, 210, 1);
    background-color: rgba(229, 229, 229, 1);
  }
}
