.booking {
  text-align: center;
}

.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.booking__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.booking__button {
  background-color: @blue-bg;
  color: @white;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
