.develop {
  margin-top: 50px;
  display: flex;
  align-items: center;

  @media @tablet {
    margin-top: 0;
  }
}

.develop__title {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
