.form-letter {
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    padding-top: 65px;
  }
}

.form-letter__label {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    font-size: 21px;
  }
}

.form-letter__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  min-height: 160px;
  padding: 8px 20px;
  margin-top: 20px;

  @media @tablet {
    margin-top: 60px;
  }

  &::placeholder {
    color: @black;
  }
  background-color: @grey-form-bg;
}
