.impression {
  border-style: none;

  @media @tablet {
    grid-row: 1 / 1;
  }
}

.impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.impression__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}
