.main-nav {
  background-color: @blue-bg;
  height: 223px;

  @media @tablet {
    background-color: @white-bg;
    height: 56px;
  }
}

.main-nav__toggle {
  width: 22px;
  height: 22px;
  background-color: @blue-bg;

  @media @tablet {
    display: none;
  }
}

.main-nav__list {
  list-style: none;

  @media @tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;

  @media @tablet {
    color: @black;
  }
}
