.main-footer {
  text-align: center;
  height: 233px;
}

.main-footer__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social__link {
  background-color: @blue-bg;

  &:hover {
    background-color: @blue-button-hover;
  }

  &:active {
    background-color: @blue-button-active;
  }
}

.develop__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
