.map__wrapper {
  width: 100%;
  height: 350px;
  background-image: url("../img/map-mobile.png");
  background-size: cover;


  @media @tablet {
    background-image: url("../img/map-tablet.png");
  }

  @media @desktop {
    background-image: url("../img/map-desktop.png");
  }
}

.map__wrapper iframe {
  width: 100%;
  height: 350px;
  border: none;
}
