.photo__wrapper {
  width: 320px;

  @media @tablet {
    width: 648px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  @media @desktop {
    width: 1200px;
  }
}


.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;

  @media @tablet {
    grid-area: title;
    margin: 0;
  }

  @media @desktop {
    align-self: end;
  }
}

.photo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  margin: 0;

  @media @tablet {
    grid-area: text;
    margin: 0;
  }
}

.photo__like {
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;

  @media @tablet {
    width: 85px;
    grid-area: like;
    justify-self: end;
    align-self: center;
    margin: 0;
  }

  .photo__like-counter {
    margin-left: 11px;

    @media @tablet {
      margin-left: 5px;
    }
  }
}

.photo__like-icon {
  fill: rgba(0, 0, 0, 0.3);

  @media @desktop {
    fill: rgba(255, 255, 255, 1);
  }
}


.photo__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media @tablet {

    display: flex;
    flex-wrap: wrap;
    width: 648px;
    padding-top: 49px;
  }

  @media @desktop {
    width: 1200px;
  }
}

.photo__item {
  padding: 21px 20px 21px;
  border-top: 1px solid rgba(229, 229, 229, 1);
  position: relative;

  @media @tablet {
    border: none;
    padding: 0;
    padding-bottom: 16px;
    background-color: rgba(242, 242, 242, 1);
  }

  @media @desktop {
    padding: 0;
  }

  &--big {
    @media @tablet {
      width: 648px;
    }

    @media @desktop {
      width: 1200px;
    }
  }

  &--small {
    @media @tablet {
      width: 324px;
    }

    @media @desktop {
      width: 400px;
    }
  }

  &--darken {
    @media @tablet {
      background-color: rgba(234, 234, 234, 1);
    }
  }
}

.photo__item-wrapper {
  @media @tablet {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title like" "text like";
    align-items: baseline;
    padding-top: 16px;
    padding-left: 20px;
  }

  @media @desktop {
    min-height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 0;
  }
}

.photo__pic {
  display: block;
}
