.reviews__wrapper {
  padding: 36px 20px 10px;
  text-align: center;

  @media @tablet {
    padding: 62px 165px 10px;
  }

  @media @desktop {
    padding: 111px 380px 10px;
  }
}

.reviews__intro {
  position: relative;
  text-align: center;
  height: 158px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 57px;
    top: 101px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/intro-triangle.svg");

    @media @tablet {
      width: 768px;
      top: 232px;
      background-image: url("../img/intro-triangle-table.svg");
    }

    @media @desktop {
      width: 1200px;
      top: 244px;
      background-image: url("../img/intro-triangle-desktop.svg");
    }
  }

  @media @tablet {
    height: 289px;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media @desktop {
    height: 301px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.reviews__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    font-size: 30px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @media @tablet {
    margin-top: 35px;
  }
}

.reviews__pic {
  margin-top: 51px;
  width: 229px;

  @media @tablet {
    margin-top: 95px;
    width: 456px;
    height: 77px;
  }

  @media @desktop {
    margin-top: 102px;
  }
}
