.social {
  margin-top: 32px;
  display: flex;
  gap: 6px;

  @media @tablet {
    margin-top: 0;
    margin-left: 114px;
  }

  @media @desktop {
    margin-left: 270px;
  }
}

.social__link {
  background-color: @blue-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  &:hover {
    background-color: @blue-button-hover;
  }

  &:active {
    background-color: @blue-button-active;
  }
}
