.visited {
  padding-top: 57px;

  @media @tablet {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    width: 648px;
    padding-top: 50px;
  }

  @media @desktop {
    width: 960px;
  }
}

.visited__title {
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media @tablet {
    font-size: 21px;
    padding: 0 150px;
  }
}

.visited__input {
  display: none;
}

.visited__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.visited__list {
  padding-top: 36px;
  padding-left: 80px;

  @media @tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  @media @desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.visited__item:not(:first-child) {
  margin-top: 54px;

  @media @tablet {
    margin-top: 70px;
  }
}

.visited__item {
  @media @tablet {
    justify-self: center;
    margin-top: 70px;
  }
}
